.vscode/
.DS_Store
.dart_tool/
.idea/
.iml

.packages
.pub/

build/
ios/
android/
demo/

pubspec.lock
doc/
.flutter-plugins
.flutter-plugins-dependencies
example/linux/flutter/generated_plugin_registrant.cc
example/linux/flutter/generated_plugins.cmake
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugins.cmake
