.vscode/
.DS_Store
.dart_tool/
.idea/
.iml

.packages
.pub/

build/
ios/
android/
demo/

pubspec.lock
doc/
.flutter-plugins
.flutter-plugins-dependencies
example/linux/flutter/generated_plugin_registrant.cc
example/linux/flutter/generated_plugins.cmake
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugins.cmake
example/android/app/build.gradle
example/android/app/src/main/AndroidManifest.xml
example/android/app/src/main/res/drawable/launch_background.xml
example/android/app/src/main/res/values/styles.xml
example/android/build.gradle
example/android/gradle.properties
example/android/gradle/wrapper/gradle-wrapper.properties
example/android/settings.gradle
example/ios/Flutter/AppFrameworkInfo.plist
example/ios/Flutter/Debug.xcconfig