.vscode/
.DS_Store
.dart_tool/
.idea/
.iml

.flutter-plugins-dependencies
example/.flutter-plugins-dependencies

.fvm/flutter_sdk

.packages
.pub/

build/
ios/
android/
demo/

pubspec.lock
doc/
.flutter-plugins-dependencies
example/.flutter-plugins-dependencies
